<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name="com.orm.SugarApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaircutManager"
        tools:targetApi="31" >
        <meta-data
                android:name="DATABASE"
                android:value="haircutmanager.db" />
        <meta-data
                android:name="VERSION"
                android:value="1" />
        <meta-data
                android:name="QUERY_LOG"
                android:value="true" />
        <meta-data
                android:name="DOMAIN_PACKAGE_NAME"
                android:value="com.god.haircutmanager.Model"/>

        <activity
            android:name=".UI.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.AddCustomerActivity"/>
        <activity android:name=".UI.AddHairStyleActivity"/>
        <activity android:name=".UI.AddUserActivity"/>
        <activity android:name=".UI.BaseManagerActivity"/>
        <activity android:name=".UI.CustomerManagerActivity"/>
        <activity android:name=".UI.HairStyleManagerActivity"/>
        <activity android:name=".UI.MainActivity"/>
        <activity android:name=".UI.UserManagerActivity"/>
    </application>

</manifest>